<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chill N' Cheese - Notre Carte</title>
    <link rel="stylesheet" href="../ressources/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="container-fluid">

<header>
  <div class="header-content row-cols">
    <div class="logo col-12">
      <img src="../ressources/assets/logo.jpg" alt="Logo">
    </div>
    <div class="navigation col-6">
      <nav class="navBar">
        <a href="" class="btn">Home</a>
        <a href="" class="btn">Carte</a>
        <a href="" class="btn">Avis</a>
        <a href="" class="btn">Connexion</a>
      </nav>
    </div>
  </div>
</header>

<main>
    <div class="row entry-title">
      <h1>Entrées</h1>
      <p>
        Découvrez nos entrées de fromages pour bien commencer !
        Nous faisons évoluer notre carte en fonction des saisons, de nos envies, de vos suggestions… Alors n'hésitez pas à la consulter régulièrement !
      </p>
    </div>
</main>
</body>